.postDetailCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .postDetailCard h2, .postDetailCard p {
    margin: 10px 0;
  }
  
  .postDetailCard img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }
  
  .postActions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .postActions a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Ensure buttons have the same width */
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
  }
  
  .editButton {
    background-color: #007bff;

  }
  
  .deleteButton {
    background-color: #dc3545;

  }
  
  .editButton:hover, .deleteButton:hover {
    opacity: 0.9; /* Slightly lower opacity on hover for better UX */
  }
  